.list-page {
    padding: 42px calc(50% - 300px);
    font-family: 'Montserrat', sans-serif;
    /* width: 100%; */
}

.list-page__title {
    font-size: 20px;
    margin-bottom: 26px;
    background-color: rgb(154, 118, 190);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    width: 110%;
}




.info{
    padding:0 0 0 40px;
}
.info h1{
    font-weight:400;
    text-align:left;
    font-size:15px;
    margin-left:-30px;
    letter-spacing:1px;
}





@media only screen and (max-width: 720px){
    .list-page{
        width: 720px;
        padding-left: 0;
    }
    .list-page__title{
        width: 100%;
    }
    .box{
        width: 100%;
    }
    .box img{
        height: 50vw;
        margin-right: 20px;
        width: 70vw;
        padding: 20px;
        padding-right: 0px;
    }
    .info {
        padding-left: 20px;
    }
    .info h1{
        font-size: 4.938vw;
        width: 75%;
    }
    .info ul li {
        font-size: 1.938vw;
    }
    .info p {
        font-size: 1.938vw;
        width: 70%;
    }
    .imdb{
        font-size: 1.938vw;
        width: 60px;
    }
    .director{
        font-size: 1.938vw;
    }
    .box button{
        font-size: 12px;
        margin-bottom: 20px;
        padding: 5px 10px;
    }
}